.cover__link{
    position: absolute;
    z-index: 0;
    width: 100%;
    opacity: 0.7;
    height: 100%;
    background: rgba(42, 44, 47,0.54);
}

.cover__link:hover{
    background: rgba(34,35,35,0.74);
}