.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .footer__links{
        flex-direction: column;
    }
}