@import url(./__ru/header__langs__ru.css);
@import url(./__en/header__langs__en.css);

.header__langs {
    width: 77px;
    display: flex;
    justify-content: space-between;
    padding-right: 96px;
    padding-top: 14px;
}



@media screen and (min-width: 768px) and (max-width: 1023px){
    .header__langs{
        padding-right: 48px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .header__langs{
        width: 64px;
        max-height: 24px;
        padding-right: 32px;
        padding-top: 14px;
    }
}