@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);
@import url(./__link/cover__link.css);

.cover{
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1184px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    position: relative;
}

@media screen and (min-width: 320px) and (max-width: 1279px){
    .cover{
        margin-top: 64px;
        width: 100%;
    }
}