@import url(./__title/cover__title.css);
@import url(./__subtitle/cover__subtitle.css);
@import url(./__image/cover__image.css);

.cover{
    max-width: 1184px;
    max-height: 740px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    position: relative;
}